@charset "UTF-8";
@import url(http://weloveiconfonts.com/api/?family=entypo);
a[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flip-container {
    width: 900px;
    height: 700px;
    background: transparent;
    left: 25%;
    top: 20%;
}
.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}
.flip-container,
.front,
.back {
    width: 150px;
    /* define a velocidade da transição */
    
    height: 150px;
}
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.front {
    z-index: 2;
}
.back {
    /* ---------- SOCIAL ---------- */
    
    transform: rotateY(180deg);
}
.social {
    margin-top: 70px;
    margin-left: 30px;
    position: relative;
    height: 3em;
    width: 13.5em;
}
.social li {
    display: block;
    height: 4em;
    line-height: 4em;
    margin: -2.2em;
    position: absolute;
    -webkit-transition: -webkit-transform 0.7s;
    -moz-transition: -moz-transform 0.7s;
    -ms-transition: -ms-transform 0.7s;
    -o-transition: -o-transform 0.7s;
    transition: transform 0.7s;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    width: 4em;
}
.social a {
    color: #fffdf0;
    display: block;
    height: 4em;
    line-height: 4em;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 4em;
}
.social li:hover {
    -webkit-transform: scale(1.3, 1.3) rotate(45deg);
    -moz-transform: scale(1.3, 1.3) rotate(45deg);
    -ms-transform: scale(1.3, 1.3) rotate(45deg);
    -o-transform: scale(1.3, 1.3) rotate(45deg);
    transform: scale(1.3, 1.3) rotate(45deg);
}
.facebook {
    background: #191919;
    left: 0;
    top: 0%;
}
.linked-in {
    background: #191919;
    left: 50%;
    top: 0%;
} 