#design {
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    perspective: 500px;
    margin-top: 200px;
}
#design div,
#design a,
#design b,
#design i {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
#design a,
#design b,
#design i {
    box-shadow: inset 0 0 1px #233133;
}
#design a,
#design b {
    background-position: center center;
}
#demo {
    top: 50%;
    left: 50%;
    box-shadow: 0 0 0 12px #d0e4ef;
    -webkit-animation: spin 16s linear infinite;
    -moz-animation: spin 16s linear infinite;
    -webkit-animation: spin 16s linear infinite;
}
#demo div a {
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
#demo div b {
    top: 0;
    left: 100%;
    height: 100%;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
}
#demo div i {
    left: 0;
    bottom: 100%;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
#demo a {
    background-color: rgba(176, 208, 223, 0.9);
}
#demo a > b {
    background-color: rgba(128, 174, 197, 0.9);
}
#demo a > b > b {
    background-color: rgba(176, 208, 223, 0.9);
}
#demo a > b > b > b {
    background-color: rgba(128, 174, 197, 0.9);
}
#demo i {
    background-color: rgba(237, 248, 254, 0.9);
}
#design div.a a,
#design div.a b {
    background-image: url('http://jsrun.it/assets/h/G/f/4/hGf4V.png');
}
#design div.b a,
#design div.b b {
    background-image: url('http://jsrun.it/assets/l/W/C/V/lWCVU.png');
}
#design div.c a,
#design div.c b {
    background-image: url('http://jsrun.it/assets/l/z/W/h/lzWht.png');
}
#design div.d a,
#design div.d b {
    background-image: url('http://jsrun.it/assets/2/L/X/l/2LXlE.png');
}
#design div.e a,
#design div.e b {
    background-image: url('http://jsrun.it/assets/u/P/9/e/uP9er.png');
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotateX(60deg) rotateZ(-180deg);
    }
    to {
        -webkit-transform: rotateX(60deg) rotateZ(180deg);
    }
}
@-moz-keyframes spin {
    from {
        -moz-transform: rotateX(60deg) rotateZ(-180deg);
    }
    to {
        -moz-transform: rotateX(60deg) rotateZ(180deg);
    }
}
@-webkit-keyframes spin {
    from {
        transform: rotateX(60deg) rotateZ(-180deg);
    }
    to {
        transform: rotateX(60deg) rotateZ(180deg);
    }
}