/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */
/* IMPORT GOOGLE FONTS */

@import url(http://fonts.useso.com/css?family=PT+Sans:400,700);
@import url(http://fonts.useso.com/css?family=Lato:400,900,700);
* {
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.mainMenu {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 10%;
    width: 120px;
    padding: 10px;
    color: #fff;
    background-color: #2c3e50;
    border-radius: 0 10px 10px 0;
}
.mainMenu h3 {
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 3px;
    font: 700 18px PT Sans;
    padding: 5px;
    margin: 0 0 10px;
    border-bottom: 2px dotted rgba(255, 255, 255, 0.1);
}
.mainMenu ul {
    list-style-type: none;
    margin-left: 5px;
}
.mainMenu ul li {
    padding: 3px 0;
}
.mainMenu ul li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    text-transform: uppercase;
    font: 400 14px PT Sans;
    margin-left: 0px;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
.mainMenu ul li a:before {
    font-family: 'FontAwesome';
    font-size: 14px;
    content: '\f10d';
    padding-right: 10px;
}
.mainMenu ul li a:hover {
    color: rgba(255, 255, 255, 0.9);
    margin-left: 10px;
}
.mainMenu ul li a:hover:before {
    content: '\f064';
}
.mainMenu ul li a.active {
    font-weight: 900;
    color: #fff;
    margin-left: 10px;
}
.mainMenu ul li a.active:before {
    content: '\f00c';
}
.sectionOnePage {
    width: 100%;
}
.sectionOnePage#about {
    background-color: #1abc9c;
    height: 100vh;
    overflow: hidden;
}
.sectionOnePage#portfolio {
    background-color: #27ae60;
}

.sectionOnePage#skill {
    background-color: #e67e22;
}
.sectionOnePage#contact {
    background-color: #d35400;
    height: 100vh;
    overflow: hidden;
}
.sectionOnePage#tutu {
    background-color: #e74c3c;
}
.sectionOnePage#tyty {
    background-color: #c0392b;
}
.sectionOnePage .content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font: 900 72px 'Lato';
    color: #fff;
    text-transform: uppercase;
}
.backToTop {
    z-index: 999;
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: none;
}
.backToTop a {
    color: #fff;
}
.backToTop a i {
    font-size: 32px;
}

h1,h2,h3,h4,h5,h6,p{
	font: 900 24px 'Lato';
}

.fancyDemo h4{
    font: 900 20px 'Lato';
}

.label p{
    font: 900 16px 'Lato';
}
a{
    text-decoration: none
}

.photoset__images {
    position: relative;
    width: 100%;
    height: 0;
}
.photoset__images > * {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.photoset {
    max-width: 500px;
    position: relative;
    margin: 2em auto;
}
.photoset__image {
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    opacity: 0;
}
.photoset__image.on,
.photoset__image.change {
    opacity: 1;
}
.photoset__image.on {
    z-index: 2;
}
.photoset__thumbnails {
    margin: -2px 0 2px -2px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.photoset__thumbnail {
    margin: 2px;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    opacity: 0.5;
}
.photoset__thumbnail:last-child {
    margin-right: 0;
}
.photoset__thumbnail:hover {
    opacity: 0.8;
}
.photoset__thumbnail img {
    width: 100%;
    vertical-align: bottom;
}
.photoset[data-number="0"] .photoset__thumbnail:nth-child(1) {
    opacity: 1;
}
.photoset[data-number="1"] .photoset__thumbnail:nth-child(2) {
    opacity: 1;
}
.photoset[data-number="2"] .photoset__thumbnail:nth-child(3) {
    opacity: 1;
}
.photoset[data-number="3"] .photoset__thumbnail:nth-child(4) {
    opacity: 1;
}
.photoset[data-number="4"] .photoset__thumbnail:nth-child(5) {
    opacity: 1;
}
.photoset[data-number="5"] .photoset__thumbnail:nth-child(6) {
    opacity: 1;
}
/* #myself
================================================== */
.point{
    margin-bottom: 15px;
}

.title{
	margin-top: 100px;
}

.about-pic{
    margin-left: 33px;
}


.about-ul li{
	display: inline;
}

.hello{
    margin-top: 45px;
    margin-left: 55px;
}
.name {
	position: absolute;
    margin-left: 175px;
    margin-top: -20px;
}

.role{
    margin-top: 35px;
    margin-left: 30px;
}

.txt{
    margin-left: 20px;
    margin-top: 35px;
}

a.arrow{
    margin:2em 0 0 0;
    display:inline-block;
}

.down span{
    width: 40px;
    height: 40px;
    background:url(../img/down.png);
    display:inline-block;
}

.topp span{
    width: 40px;
    height: 40px;
    background:url(../img/top.png);
    display:inline-block;
}

.down span:hover{
    width: 40px;
    height: 40px;
    background:url(../img/down1.png);
    display:inline-block;
}

.topp span:hover{
    width: 40px;
    height: 40px;
    background:url(../img/top.png);
    display:inline-block;
}

.down{
    margin-top: 120px;
    margin-left: 40px;
}

.topp{
    margin-top: 120px;
    margin-left: 40px;
}
#filters li {
display: inline-block;
margin-right: 15px;
}

#filters li span.active, #filters li span:hover {
background: #e17c65;
border: 1px solid #e17c65;
color: #fff;
}

#filters li span {
font-size: 16px;
font-weight: bold;
display: block;
padding: 10px 30px;
border: 1px solid rgba(120, 124, 127, 0.4);
text-decoration: none;
color: #758084;
cursor: pointer;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-o-border-radius: 4px;
}

#portfoliolist .list {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    margin:1%;
    display:none;
    float:left;
    overflow:hidden;
}

.label{
    border-top: 1.5px solid #5d5958;
}

.portfolio-filters{
    margin-left: 10px;
}

.pulse{
    margin-left: 10px;
}

.skills-resume{
    margin-left: 10px;
}

.idesign{
    margin-left: 190px;
    margin-top: 50px;
}

.icode{
    margin-left: 150px;
    margin-top: 50px;
}

.idesign h5, .icode h5{
color: white;
}

.code-editor{
    margin-top: 70px;
    margin-left: 85px;
}

.code-editor img{
    width: 110%;
}

.contactForm{
    margin-left: 360px;
}

.portfolio-wrapper{
    height: 480px;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
  	.sectionOnePage .content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font: 900 64px 'Lato';
    color: #fff;
    text-transform: uppercase;
    }
    .pulse{
        margin-left: -15px;
    }
        .skills-resume{
    margin-left: -60px;
    }
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.sectionOnePage .content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font: 900 56px 'Lato';
    color: #fff;
    text-transform: uppercase;
    }
    .about-pic{
        margin-left: 20px;
    }
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.sectionOnePage .content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font: 900 48px 'Lato';
    color: #fff;
    text-transform: uppercase;
	}


	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
    .sectionOnePage .content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font: 900 40px 'Lato';
    color: #fff;
    text-transform: uppercase;
}
	.hello{
		margin-left: 40px;
	}

	.name{
		margin-left: 160px;
	}

    .role{
        margin-top: 25px;
        margin-left: 40px;
    }

    .txt{
        margin-left: 40px;
    }
    .about-pic{
    margin-left: 138px;
    }

    .down{
        margin-top: 40px;
        margin-left: 195px;
    }

    .topp{
        margin-top: 40px;
        margin-left: 195px;
    }
        .pulse{
        margin-left: 105px;
    }
       .skills-resume{
    margin-left: -15px;
    }
    .idesign{
    margin-left: 170px;
    }
    .icode{
    margin-left: 170px;
    margin-top: 180px;
    }
    .code-editor{
        margin-top: 40px;
        margin-left: 12px;
    }
    .code-editor img{
        width: 100%;
    }

    .iconn{
        margin-left: 140px;
    }

    .contactForm{
          margin-left: 90px;
    }
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	.sectionOnePage .content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font: 900 32px 'Lato';
    color: #fff;
    text-transform: uppercase;
	}

	.about-pic{
	margin-left: 75px;
	}

	.name {
  position: absolute;
  margin-left: 30px;
  margin-top: 40px;
}	
	.hello{
		margin-left: 90px;
	}

    .role{
        margin-top: 95px;
        margin-left: 30px;
    }

    .txt{
        margin-left: 30px;
    }

    .down{
        margin-top: 15px;
        margin-left: 135px;
    }

    .topp{
        margin-top: 15px;
        margin-left: 135px;
    }
    .pulse{
        margin-left: 40px;
    }

    .skills-resume{
    margin-left: -85px;
    }
    .idesign{
    margin-left: 110px;
    }
    .icode{
    margin-left: 110px;
    margin-top: 180px;
    }
    .code-editor{
        margin-top: 40px;
        margin-left: 35px;
    }
    .code-editor img{
        width: 90%;
    }
    .iconn{
        margin-left: 80px;
    }

    .contactForm{
          margin-left: 30px;
    }
	}
