.skills-resume .lft {
    float: left;
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.skills-resume .lft h2 {
    text-shadow: 0 0 9px #02a1d9;
    text-transform: uppercase;
    color: white;
    font-family: 'terminal_dosisbold', sans-serif;
    font-size: 30px;
    line-height: 1.5em;
    margin-bottom: 25px;
}
.skills-resume .rgt {
    float: left;
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: right !important;
    float: right;
    padding-top: 30px;
    margin-bottom: 20px;
}
.skills-resume .rgt .graph {
    width: 433px;
    height: 298px;
    background: url('http://wow.techbrood.com/uploads/141004/sprite.png') no-repeat 80px 20px;
    margin: 0px auto;
}
.skills-resume .rgt .keywords {
    position: relative;
    width: 100%;
    display: block;
    height: 100%;
    margin: 0;
}
.skills-resume .rgt .keywords .keyword {
    position: absolute;
    display: block;
    font-size: 16px;
    color: white;
    font-weight: normal;
}
.skills-resume .rgt .keywords .keyword.webgl {
    top: 40px;
    left: 50px;
}
.skills-resume .rgt .keywords .keyword.html-css {
    left: 152px;
}
.skills-resume .rgt .keywords .keyword.webdesign {
    left: -15px;
    top: 140px;
    text-align: right;
}
.skills-resume .rgt .keywords .keyword.csharp {
    left: 350px;
    top: 140px;
}
.skills-resume .rgt .keywords .keyword.reference-naturel {
    left: 315px;
    top: 40px;
}
.skills-resume .rgt .keywords .keyword.jquery-javascript {
    top: 235px;
    left: 50px;
}
.skills-resume .rgt .keywords .keyword.php {
    left: 195px;
    bottom: -10px;
    text-align: center;
}
.skills-resume .rgt .keywords .keyword.Java {
    right: 90px;
    bottom: 30px;
}